.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.petclinic-logo {
    display: none;
}


@media (min-width: 850px) {
    .top-row, .pl-4, .navbar, .navbar-dark { display: none; }

    .navbar-toggler { display: none; }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .navbar-brand { margin-right: 0; }

    .petclinic-logo {
        display: block;
        width: 55%;
        margin: auto;
        margin-top: 10%;
        -ms-opacity: 0.6;
        opacity: 0.6;
    }
}

    
