$primary: #283593;
$primary-dark: #001064;
$primary-light:	#5f5fc4;
$grey: #e9ecef;
$accent: #ebe645;

body {
    margin-top: 78px;
}

.navbar {
    box-shadow: 2px 2px 5px $primary-light;
    opacity: 0.9;
    background: #fff;
    .nav-item {
        font-size: 1.3rem;
        padding-right: 1.3rem;
    }
}

#hero {
    background-image: linear-gradient(to right bottom, rgba(darken($primary-dark, 10%), 0.95), rgba(lighten($primary-dark, 50%), 0.90)), url('../img/hero.jpg');
    background-position: center;
    object-fit: cover;
    min-height: 600px;
    .hero-content {
        padding-top: 4.5rem;
    }
}

#newsletter {
    background-color: $grey;
}

#boxes {
    .icon-wrapper {
        font-size: 5rem;
        color: $primary;
    }
    .card {
        height: 23rem;
    }
    div:nth-child(even) > div {
        background: $primary;
        h3 {
            color: white!important;
        } 
        p {
            color: white !important;
        }
        .icon-wrapper {
            color: white;
        }
    }
}

@media(max-width: 992px) {
    .mb-resp {
        margin-bottom: 1rem;
    }
    #boxes {
        .card {
            height: 19rem;
        }
    }
}

@media(max-width: 576px) {
    #hero {
        min-height: 450px;
        h1 {
            font-size: 4rem;
        }
    }
}
