$primary: #3d4eca;
$primary-light: #548CF6;
$primary-dark: #325DE9;
$grey: #e9ecef;
$accent: #ebe645;

body {
    margin-top: 78px;
}

.navbar {
    box-shadow: 2px 2px 5px $primary-light;
    opacity: 0.9;
    background: #fff;
    .nav-item {
        font-size: 1.3rem;
        padding-right: 1.3rem;
    }
}

#hero {
    background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.95), rgba($primary-light, 0.90)), url('../img/hero.jpg');
    background-position: center;
    object-fit: cover;
    min-height: 600px;
    .hero-content {
        padding-top: 4.5rem;
    }
}

#newsletter {
    background-color: $grey;
}

#boxes {
    .icon-wrapper {
        font-size: 5rem;
        color: $primary-light;
    }
    img {
        width: 100px;
    }
    .card {
        height: 23rem;
    }
    div:nth-child(even) > div {
        background: $primary-light;
        h3 {
            color: white!important;
        } 
        p {
            color: white !important;
        }
        .icon-wrapper {
            color: white;
        }
    }
}

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
}

#authors {
    img {
        margin-top: -50px;
        transition: all 1.5s ease-out;
    }

    .card:hover {
        background-color: rgba($primary-light, .85);
        color: white;

        & i.fab {
            color: #fff;
        }

        & h5.text-muted {
            color: #333 !important;
        }
    }
}

//i.fab {
//    color: #666;
//}

@media(max-width: 992px) {
    .mb-resp {
        margin-bottom: 1rem;
    }
    #boxes {
        .card {
            height: 19rem;
        }
    }
}

@media(max-width: 576px) {
    #hero {
        min-height: 450px;
        h1 {
            font-size: 4rem;
        }
    }
}
